p{
    display: flex;
    justify-content: stretch;
}
mat-form-field {
    width: 99%;
    margin: 0.5%;
}
.header{
    display: flex;
    justify-content: start;
}
.headericon{
    margin-left: auto;
    margin-right: 3.5%;
    font-size: 35px;
    align-items: center;
}