<div class="header">
    <h2 mat-dialog-title>Add New Property </h2>
    <mat-icon class="headericon" color="primary">domain_add</mat-icon>
</div>

<form [formGroup]="form" (ngSubmit)="saveProperty()">
    <mat-dialog-content class="mat-typography">

        <p>
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input formControlName="name" required matInput placeholder="name of property"/>
                <mat-hint>Keep Property Name Unique</mat-hint>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <textarea  formControlName="description" required matInput placeholder="Details about property"></textarea>
                <mat-hint>Describe property rate/ location / type</mat-hint>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field style="width:49%"  appearance="outline">
                <mat-label>Size</mat-label>
                <input formControlName="size" required type="number" min="0" max="10000" matInput placeholder="size of property">
            </mat-form-field>

            <mat-form-field style="width:49%" appearance="outline">
                <mat-label>Size Unit</mat-label>
                <mat-select formControlName="sizeUnit" required >
                    <mat-option *ngFor="let unit of sizeUnits" [value]="unit">
                        {{unit}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </p>

    </mat-dialog-content>   
    <mat-dialog-actions align="end">
        <button mat-button (click)="cancel()" type="button" color="warn" >Cancel</button>
        <button mat-raised-button color="primary"  [disabled]="!form.valid" type="submit" >Save
            Property</button>
    </mat-dialog-actions>
</form>